body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f9;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#1e3a8a;
    position:fixed;
    color:white;
}

.sidebar img{
    margin-top:20px;
}

.sidebar h2{
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
}

.sidebar a:hover{
    background:#2563eb;
}

.main{
    margin-left:250px;
    padding:20px;
}

.card{
    background:white;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}
.page-title{
    color:#1e3a8a;
    margin-bottom:20px;
}

.student-form{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.student-form input,
.student-form select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.btn-save{
    background:#16a34a;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

.btn-save:hover{
    background:#15803d;
}

.student-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}

.student-table th{
    background:#1e3a8a;
    color:white;
    padding:12px;
}

.student-table td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

.student-table tr:hover{
    background:#f3f4f6;
}

.btn-edit{
    background:#2563eb;
    color:white;
    padding:6px 12px;
    border-radius:5px;
    text-decoration:none;
}

.btn-delete{
    background:#dc2626;
    color:white;
    padding:6px 12px;
    border-radius:5px;
    text-decoration:none;
}

.search-box{
    margin-bottom:20px;
}

.search-box input{
    width:300px;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}